/* General Styles */

*,
*::after,
*::before {
  box-sizing: border-box;
  --section-bg-dark: #dce4e5;
  --section-bg-light: #fff;
  --section-accent-dark: #73989e;
  --section-header-color: #175061;
  --skills-area-color: #f2f2f2;
  --link-hover-color: #89282a;
  --resume-btn-color: #aa3234;
  --project-hover-color: #d39e9f;
  --project-bg-color: #c4c4c4;
  --footer-color: #506e73;
  --work-exp-header-color: #01233f;
  --menu-bg-color: rgba(80, 110, 115, 0.8);
}

html {
  overflow-x: hidden;
  width: 100vw;
}

body {
  padding: 0rem;
  margin: 0rem;
  font-family: "Lexend", sans-serif;
  font-display: swap;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (min-width: 56.25em) {
  header {
    justify-content: space-around;
  }
}

h2 {
  color: var(--section-header-color);
}

hr {
  border-top: 5px solid var(--section-accent-dark);
}

/* ------------------------- */

/* layout */

.page {
  margin-left: auto;
  margin-right: auto;
  width: min(80vw, 600px);
}

.page__header__title {
  margin: 0rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.page__header__line {
  width: 100%;
  border-bottom: 7px solid var(--section-accent-dark);
}

.page__container {
  display: flex;
  flex-wrap: wrap;
}

.page__item {
  width: min(80vw, 100%);
}

.page__header {
  width: 100%;
}

.footer {
  display: flex;
  height: 30px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--footer-color);
  color: white;
}

@media screen and (min-width: 56.25em) {
  .page {
    width: max(80vw, 900px);
  }

  .page__header__title--rtl {
    text-align: left;
  }

  .page__header__title--ltr {
    margin-left: 20%;
    text-align: left;
  }

  .page__item--right {
    order: 2;
  }

  .page__item--left {
    order: 1;
  }

  .page__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
  }

  .page__content--left {
    margin-left: 20%;
  }

  .page__content--right {
    margin-right: 20%;
  }

  .page__header--projects {
    grid-row-start: 1;
    grid-column-start: 2;
  }

  .experience--title {
    width: fit-content;
  }

  .page__header__line--ltr {
    display: none !important;
  }

  .page__header__title {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .page__header__title::after {
    border-bottom: 7px solid var(--section-accent-dark);
    width: 50vw;
    content: " ";
    display: block;
    position: absolute;
    top: 30px;
  }

  .page__header__title--ltr {
    align-items: flex-end;
  }

  .page__header__line {
    display: none;
  }
}

.section {
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.section--light {
  background-color: var(--section-bg-light);
}

.section--dark {
  background-color: var(--section-bg-dark);
}

/* ------------------------- */

/* components */

.navbar {
  display: none;
}

.page-nav {
  display: none;
}
.site-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.site-title__name {
  font-family: "Rock Salt";
  font-display: swap;
  font-weight: normal;
  color: var(--section-accent-dark);
  margin-bottom: 0rem;
}

.site-title__job {
  margin-top: 0rem;
  font-size: 1.25rem;
}

.menu-toggle {
  display: none;
}

.mobile-navbar[data-state="open"] {
  display: block;
}

.mobile-navbar[data-state="close"] {
  display: none;
}

.bar[data-state="visible"] {
  height: 0.2rem;
  width: 1.5rem;
  background-color: var(--section-accent-dark);
  margin: 0.3125rem;
  border-radius: 5px;
}

.bar[data-state="hide"] {
  display: none;
}

.close-icon[data-state="visible"] {
  display: block;
  color: white;
  font-size: 1.5rem;
}

.close-icon[data-state="hide"] {
  display: none;
}

.mobile-menu-wrapper {
  position: fixed;
  left: 1rem;
  top: 1rem;
  z-index: 5;
}

.mobile-navbar {
  background-color: var(--menu-bg-color);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.link {
  text-decoration: none;
  color: white;
  margin-left: 1rem;
  margin-top: 1rem;
}

.list--mobile-nav {
  list-style-type: none;
  margin: 0.3125rem;
  padding: 0rem;
  margin-top: 3.125rem;
}

/* Hex code is for the external link icon */
.link__external::after {
  content: "\f08e";
  font: var(--fa-font-solid);
}

.menu-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.profilepic {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 56.25em) {
  #about {
    padding-top: 0rem;
  }

  .about-content {
    position: relative;
    top: 75px;
  }

  .bar {
    display: none;
  }

  .close-menu {
    display: none;
  }

  .list--mobile-nav {
    display: none;
  }

  .menu-toggle {
    display: none;
  }

  .mobile-navbar {
    display: none;
  }
  .menu {
    display: none;
  }

  .navbar {
    display: block;
    align-self: center;
  }

  .navbar__link {
    color: var(--section-accent-dark);
    margin-left: 1rem;
  }

  .navbar__link:hover {
    color: var(--link-hover-color);
  }

  .page-nav {
    display: block;
    align-self: center;
  }
  .page-nav__link {
    color: var(--section-accent-dark);
    text-decoration: none;
    margin-left: 1rem;
    font-size: 1.25rem;
  }

  .page-nav__link:hover {
    color: var(--link-hover-color);
  }

  .site-title {
    margin-top: 0rem;
  }
}

.work__experience {
  font-size: 1.125rem;
  margin-top: 2rem;
}

.work__experience__header {
  margin: 0rem;
  color: var(--work-exp-header-color);
}

.work__experience__subheader {
  margin: 0rem;
  color: var(--section-header-color);
  font-weight: bold;
}

.work__experience__date {
  margin: 0rem;
}

/* ------------------------- */

.background-circle {
  background-image: url("./assets/background-circle.svg");
  background-repeat: no-repeat;
  height: 100%;
  position: relative;
  top: 35px;
}

.skills__area {
  background-color: var(--skills-area-color);
  border-radius: 18px;
  padding: 1rem;
}

.skills__values--1col {
  column-count: 1;
}

.skills__header {
  margin: 0.5rem;
  color: var(--section-header-color);
  font-size: 1.5rem;
}

.skills__item__header {
  margin-left: 1rem;
}

.skills__container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 56.25em) {
  .skills__container {
    align-items: center;
    justify-content: center;
  }

  .skills__values--2col {
    column-count: 2;
  }

  .skills__area {
    padding: 1.25rem;
  }
}

.resume__btn:hover {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

.resume__btn {
  background-color: var(--resume-btn-color);
  border-radius: 18px;
  color: white;
  margin-top: 1rem;
  border: none;
  padding: 0.625rem;
  width: 100%;
}

@media screen and (min-width: 56.25em) {
  .resume__btn {
    width: 392px;
  }
}

.image__project {
  margin-top: 1rem;
  border-radius: 18px;
  width: 100%;
  height: auto;
}

@media screen and (min-width: 56.25em) {
  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .project1 {
    grid-row-start: 2;
  }

  .proj__img {
    grid-column-start: 1;
  }

  .proj__desc {
    grid-column-start: 2;
  }

  .project2 {
    grid-row-start: 3;
  }
}
