/* General Styles */

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: "Lexend", sans-serif;
  font-display: swap;
  height: 100%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (min-width: 900px) {
  header {
    justify-content: space-between;
  }
}

h2 {
  color: #175061;
}

hr {
  /* width: 33%; */
  border-top: 5px solid #506e73;
}

/* ------------------------- */

/* layout */

.page {
  margin-left: auto;
  margin-right: auto;
  width: min(60vw, 600px);
}

.page__header__title {
  margin: 0px;
  text-align: center;
}

.page__header__line {
  width: 100%;
  border-bottom: 7px solid #506e73;
}

.page__container {
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
}

.page__item {
  width: min(60vw, 100%);
}

.page__header {
  width: 100%;
}

@media screen and (min-width: 900px) {
  .page {
    width: 100%;
  }

  .page__header__title--rtl {
    text-align: left;
  }

  .page__header__title--ltr {
    /* text-align: right; */
    margin-left: 20%;
    text-align: left;
  }

  .page__item--right {
    order: 2;
  }

  .page__item--left {
    order: 1;
  }

  .page__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .page__content--left {
    margin-left: 20%;
  }

  .page__content--right {
    margin-right: 20%;
  }

  .page--projects {
    display: grid;
    grid-template-rows: 0px 1fr;
  }

  .page__header--projects {
    grid-row-start: 1;
    grid-column-start: 2;
  }

  .page__item--projects {
    width: 100%;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .experience--title {
    width: fit-content;
  }
  .experience--title::before {
    content: "";
    border-bottom: 7px solid #506e73;
    height: 100%;
    display: block;
    margin-left: -100%;
    position: relative;
    top: 40px;
    margin-left: -200%;
  }

  .page__header__line--ltr {
    display: none !important;
  }
}

.section {
  padding-top: 2em;
  padding-bottom: 2em;
}

.section--light {
  background-color: #fff;
}

.section--dark {
  background-color: #dce4e5;
}

/* ------------------------- */

/* components */

.navbar {
  display: none;
}

.page-nav {
  display: none;
}
.site-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-title__name {
  font-family: "Rock Salt";
  font-display: swap;
  font-weight: normal;
  color: #506e73;
  margin-bottom: 0px;
}

.site-title__job {
  margin-top: 0px;
}

.menu-toggle {
  display: none;
}
.menu-toggle:checked + .mobile-navbar {
  display: none;
}

.mobile-menu-wrapper {
  position: fixed;
  left: 1rem;
  top: 1rem;
}

.mobile-navbar {
  background-color: #506e73;
  width: 9rem;
  position: fixed;
}

.link {
  text-decoration: none;
  color: white;
  margin-left: 1rem;
  margin-top: 1rem;
}

.bar {
  height: 0.2rem;
  width: 1.5rem;
  background-color: #506e73;
  margin: 5px;
  border-radius: 5px;
}

.list--mobile-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 900px) {
  .bar {
    display: none;
  }

  .menu-toggle {
    display: none;
  }

  .mobile-navbar {
    display: none;
  }
  .menu {
    display: none;
  }

  .navbar {
    display: block;
    align-self: center;
  }

  .navbar__link {
    color: #506e73;
  }

  .navbar__link__icon {
  }

  .page-nav {
    display: block;
    align-self: center;
  }
  .page-nav__link {
    color: #506e73;
    text-decoration: none;
  }
}

.work__experience {
  font-size: 18px;
}

.work__experience__header {
  color: #01233f;
}

.work__experience__subheader {
  color: #175061;
  font-weight: bold;
}

/* ------------------------- */

.background-circle {
  background-image: url("./assets/background-circle.svg");
  background-repeat: no-repeat;
  height: 100%;
}

.skills__area {
  background-color: #f2f2f2;
  border-radius: 18px;
}

.skills__values--2col {
  column-count: 2;
}

.skills__values--1col {
  column-count: 1;
}

.skills__header {
  margin: 0.5em;
  color: #175061;
  font-size: 25px;
}

.skills__item__header {
  margin-left: 1em;
}

.skills__container {
  display: flex;
  flex-direction: column;
  /* margin-top: 250px; */
}

@media screen and (min-width: 900px) {
  .skills__container {
    align-items: center;
    justify-content: center;
  }

  .skills__area {
    padding: 20px;
  }
}

.resume__btn:hover {
  background-color: #89282a;
  cursor: pointer;
}

.resume__btn {
  background-color: #aa3234;
  border-radius: 18px;
  color: white;
  margin-top: 1em;
  border: none;
  padding: 10px;
  width: 100%;
}

@media screen and (min-width: 900px) {
  .resume__btn {
    width: 392px;
  }
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project {
  border-radius: 18px;
  background-color: #c4c4c4;
  font-size: 18px;
  border: none;
  padding: 4em;
  margin-top: 1em;
}

.project:hover {
  cursor: pointer;
  background-color: #d39e9f;
}
